[submodule "back/CRAFT"]
	path = back/app/CRAFT
	url = https://github.com/clovaai/CRAFT-pytorch.git
[submodule "back/imgtxtenh"]
	path = back/app/imgtxtenh
	url = https://github.com/mauvilsa/imgtxtenh.git
